WWW Never Launched/Service References/BackOfficePortfolio/portfolio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="portfolio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_Iportfolio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://jvdv6000_2/web.micajah.backoffice/WCFServices/portfolio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://jvdv6000_2/web.micajah.backoffice/WCFServices/portfolio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jvdv6000_2/web.micajah.backoffice/WCFServices/portfolio.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://jvdv6000_2/web.micajah.backoffice/WCFServices/portfolio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iportfolio_GetPortfolioDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfolioDetail" />
  </wsdl:message>
  <wsdl:message name="Iportfolio_GetPortfolioDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfolioDetailResponse" />
  </wsdl:message>
  <wsdl:message name="Iportfolio_GetPortfolioList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfolioList" />
  </wsdl:message>
  <wsdl:message name="Iportfolio_GetPortfolioList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfolioListResponse" />
  </wsdl:message>
  <wsdl:message name="Iportfolio_GetPortfolioScreenshots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfolioScreenshots" />
  </wsdl:message>
  <wsdl:message name="Iportfolio_GetPortfolioScreenshots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPortfolioScreenshotsResponse" />
  </wsdl:message>
  <wsdl:portType name="Iportfolio">
    <wsdl:operation name="GetPortfolioDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/Iportfolio/GetPortfolioDetail" message="tns:Iportfolio_GetPortfolioDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iportfolio/GetPortfolioDetailResponse" message="tns:Iportfolio_GetPortfolioDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPortfolioList">
      <wsdl:input wsaw:Action="http://tempuri.org/Iportfolio/GetPortfolioList" message="tns:Iportfolio_GetPortfolioList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iportfolio/GetPortfolioListResponse" message="tns:Iportfolio_GetPortfolioList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPortfolioScreenshots">
      <wsdl:input wsaw:Action="http://tempuri.org/Iportfolio/GetPortfolioScreenshots" message="tns:Iportfolio_GetPortfolioScreenshots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iportfolio/GetPortfolioScreenshotsResponse" message="tns:Iportfolio_GetPortfolioScreenshots_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_Iportfolio" type="tns:Iportfolio">
    <wsp:PolicyReference URI="#WSHttpBinding_Iportfolio_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortfolioDetail">
      <soap12:operation soapAction="http://tempuri.org/Iportfolio/GetPortfolioDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortfolioList">
      <soap12:operation soapAction="http://tempuri.org/Iportfolio/GetPortfolioList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortfolioScreenshots">
      <soap12:operation soapAction="http://tempuri.org/Iportfolio/GetPortfolioScreenshots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="portfolio">
    <wsdl:port name="WSHttpBinding_Iportfolio" binding="tns:WSHttpBinding_Iportfolio">
      <soap12:address location="http://jvdv6000_2/web.micajah.backoffice/WCFServices/portfolio.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://jvdv6000_2/web.micajah.backoffice/WCFServices/portfolio.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>